.cursor {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    pointer-events: none; /* Make sure the cursor doesn't block interactions */
    transform-origin: center;
}

.cursor.hovered {
    background-color: rgba(255, 255, 255, 0.5); /* Change the background color */
    transform: scale(1.2); /* Scale up the cursor on hover */
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease, background-color 0.1s ease;
}