.slider-wrapper {
    overflow: hidden;
    padding: 0 0 4rem 0;
    white-space: nowrap;
    height: 400px; /* TEMPORÄR LÖSNING */
}

.slider-header {
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .slider-wrapper {
        margin: 0 2rem;
    }
    .slider-header {
        margin: 0 2rem;
    }
}

@media (min-width: 1920px) {
    .slider-wrapper {
        margin: 0 2rem;
    }
    .slider-header {
        margin: 0 2rem;
    }
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 0.5rem;
    }
    .slider-header {
        margin: 0 0.5rem;
    }
}

.slider-wrapper:hover .slider-container {
    animation-play-state: paused;
}

.slider-container {
    display: inline-flex;
    flex-direction: row;
    animation: 200s slide infinite linear;
    gap: 1rem;
}

.slides {
    width: 400px;
    height: 300px;
    cursor: pointer;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
